:import {
  -st-from: "../Foundation/stylable/colors.st.css";
  -st-named: D80, B50, B30, G50, G30, R50, R30, Y50, Y30, P50, P30, D70, D50, D10;
}

:vars{
  buttonMaxWidth: 25%;
}

.root {
  -st-states: type(enum(standard, success, destructive, warning, premium, preview, dark)), fullWidth;
  border-radius: 6px;
  border-width: 1px;
  border-style: solid;
  display: inline-flex;
  align-items: center;
  height: 36px;
  padding-left: 12px;
  padding-right: 6px;
  min-width: 330px;
  max-width: 540px;
  box-sizing: border-box;
}

/* do we need .rtl and [dir='rtl'] selectors or [dir='rtl'] is enough ? */
:global(.rtl) .root,
:global([dir='rtl']) .root {
  padding-right: 12px;
  padding-left: 6px;
}

.root > *:first-child {
  margin-left: 0;
}

:global([dir='rtl']) .root > *:first-child {
  margin-left: unset;
  margin-right: 0;
}

.root:fullWidth {
  border-radius: 0;
  border-left: none;
  border-right: none;
  max-width: 100%;
  width: 100%;
  height: 42px;
  padding-left: 30px;
  padding-right: 15px;
}

:global([dir='rtl']) .root:fullWidth {
  padding-left: 15px;
  padding-right: 30px;
}

.root:type(standard) {
    background-color: value(B50);
    border-color: value(B30);
}

.root:type(success) {
    background-color: value(G50);
    border-color: value(G30);
}

.root:type(destructive) {
    background-color: value(R50);
    border-color: value(R30);
}

.root:type(warning) {
    background-color: value(Y50);
    border-color: value(Y30);
}

.root:type(premium) {
    background-color: value(P50);
    border-color: value(P30);
}

.root:type(preview) {
    background-color: value(D70);
    border-color: value(D50);
}

.root:type(dark) {
    background-color: value(D10);
    border-color: value(D10);
}

.icon {
  -st-states: type(enum(dark));
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.icon:type(dark) {
  color: value(D80);
}

.text,
.textButton {
  margin-left: 6px;
}

:global([dir='rtl']) .text,
:global([dir='rtl']) .textButton {
  margin-left: unset;
  margin-right: 6px;
}

.button {
  margin-left: 12px;
}

:global([dir='rtl']) .button {
  margin-left: unset;
  margin-right: 12px;
}

.button,
.textButton {
  max-width: value(buttonMaxWidth);
}

.gap {
  min-width: 24px;
  flex-grow: 1;
}

.close {
  flex-shrink: 0;
}