:import {
  -st-from: "../../../Checkbox/Checkbox.st.css";
  -st-default: Checkbox;
}

:import {
  -st-from: "../foundations/colors.st.css";
  -st-named: B10, B05, B40, B50, D10-40, D55, D70, D80;
}

.root {
  -st-extends: Checkbox;
}

.root::children {
  padding-left: 8px;
}

:global([dir='rtl']) .root::children {
  padding-right: 8px;
}

