:import {
  -st-from: "../../Foundation/stylable/colors.st.css";
  -st-named: D10-03;
}

.root {
  -st-states: size(enum(small, large));
}

.root {
  display: flex;
  align-items: center;
  padding: 0 30px;
  background-color: value(D10-03);
}

.root:size(small) {
  height: 48px;
}

.root:size(large) {
  height: 72px;
}
