:import {
  -st-from: "../../Foundation/stylable/colors.st.css";
  -st-named: D10-03, D60;
}

.root {
  background-color: value(D10-03);
  height: 48px;
  display: flex;
  align-items: center;
}

.text {
  padding: 0 30px;
  position: absolute;
}

.line {
  background-color: value(D60);
  height: 1px;
  width: 100%;
  align-self: flex-end;
  position: relative;
}
